.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-pack: center!important;
  -ms-flex-pack: center!important;
  justify-content: center!important;
}

.primary {
  color: #303765;
}

.secondary {
  color: #055e4e;
}

@media screen and (min-width: 768px) {
  .grid {
    width: 70vw;
    margin: 0 auto;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .grid {
    width: 100vw;
    margin: 0 auto;
    padding: 2rem;
  }
}